@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/breakpoints.scss";

@font-face {
  font-family: "Century Schoolbook";
  src:
    url("../fonts/CenturySchL-BoldItal.woff2") format("woff2"),
    url("../fonts/CenturySchL-BoldItal.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Century Schoolbook";
  src:
    url("../fonts/CenturySchL-Roma.woff2") format("woff2"),
    url("../fonts/CenturySchL-Roma.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Century Schoolbook";
  src:
    url("../fonts/CenturySchL-Bold.woff2") format("woff2"),
    url("../fonts/CenturySchL-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Century Schoolbook";
  src:
    url("../fonts/CenturySchL-Ital.woff2") format("woff2"),
    url("../fonts/CenturySchL-Ital.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Century Schoolbook Mono";
  src:
    url("../fonts/CenturySchoolbookBT-Monospace.woff2") format("woff2"),
    url("../fonts/CenturySchoolbookBT-Monospace.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-size: 1.6rem;
  --font-size--mobile: 14px;
  --line-height: 1.25;
  --line-height-em: 1.25em;
  --margin: 2.5rem;
  --margin--mobile: 1.5rem;
  --font-family: "Century Schoolbook", serif;
  --menu-width: 20vw;
  --width-constrained-max-width: 800px;
  --border: 1px solid #000;
}

@media screen and (max-width: 1333px) {
  :root {
    --menu-width: 30vw;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --menu-width: 30vw;
  }
}

@media screen and (max-width: 728px) {
  :root {
    --menu-width: 30vw;
    --font-size: var(--font-size--mobile);
    --margin: var(--margin--mobile);
  }
}

@media screen and (max-width: 768px) {
  :root {
    --menu-width: 30vw;
    --font-size: var(--font-size--mobile);
    --margin: var(--margin--mobile);
  }
}

html {
  @apply relative h-screen w-screen block;
  font-size: 10px;

  .layout-wrapper__child {
    position: absolute;
    height: 100vh;
    top: 0;
    overflow: scroll;
    background-color: #fff;
  }
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.blocky {
  display: block;
  padding: var(--margin);
}

ul {
  list-style-type: none;
}

strong,
b {
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
}

a {
  color: currentColor;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.width-constrained {
  max-width: var(--width-constrained-max-width);
}

/* LAYOUT */
.layout-wrapper {
  position: relative;
  height: 100vh;
  z-index: 10;

  @include media("<tablet") {
    @apply flex flex-col;
  }

  .layout-wrapper__child {
    position: absolute;
    @include media("<tablet") {
      position: relative;
    }
    height: 100vh;
    top: 0;
    overflow: scroll;
    background-color: #fff;
  }
}

.menu {
  @apply flex flex-col w-[var(--menu-width)] left-0;
  min-width: var(--menu-min-width);
  border-right: var(--border);

  @include media("<tablet") {
    z-index: 20;
    @apply top-0 w-full h-screen;
    position: absolute !important;
    border-right: none;
  }

  a {
    text-decoration: none;
    color: currentColor;
  }

  &__header {
    @apply sticky top-0 bg-white;
    border-bottom: var(--border);
    @extend .blocky;
  }
  &__toggle {
    @apply float-right cursor-pointer;
    display: none;
    @include media("<tablet") {
      display: block;
    }
  }
  &__contents {
    list-style-type: none;
  }
  &__item {
    &:first-child {
      border-top: initial;
    }

    border-top: var(--border);

    &:hover {
      @apply bg-black text-white;
    }

    &-selected {
      @apply bg-black text-white;
    }

    &__link {
      @extend .blocky;
    }
  }
  &__footer {
    @apply sticky w-full bottom-0 bg-white;
    border-top: var(--border);

    @extend .blocky;

    &__contents {
      @apply flex flex-row flex-wrap;
    }
    &__item {
      &:first-child {
        margin-left: initial;
      }

      margin-left: var(--margin);

      a {
      }
    }
  }
}

.content {
  width: calc(100vw - var(--menu-width));

  @include media("<tablet") {
    width: 100%;
  }

  right: 0;
  padding: var(--margin);

  .recepieContent {
    p:after {
      content: "";
      display: inline-block;
      width: 0px;
    }

    ol {
      list-style-type: decimal;
      margin-left: 1.1em;
      &:after {
        content: "";
        display: inline-block;
        width: 0px;
      }

      li {
        display: list-item;
        text-align: -webkit-match-parent;
        unicode-bidi: isolate;
        &::marker {
          unicode-bidi: isolate;
          font-variant-numeric: tabular-nums;
          text-transform: none;
          text-indent: 0px !important;
          text-align: start !important;
          text-align-last: start !important;
        }
      }
    }

    &__images {
      @apply mt-4 grid grid-cols-2 gap-10;
    }
  }
}

.menu--mobile {
  display: none;
  @include media("<tablet") {
    display: block;
  }
  position: sticky;
  top: 0;
  border-bottom: var(--border);
  width: 100%;
  background-color: #fff;
  @extend .blocky;

  a {
    text-decoration: none;
  }
}

#print {
  float: right;
  margin-left: var(--margin);
}
